node_modules/

.DS_Store
._*

core
!bot/core

.env
.env.prod
.env.local
.env.save
.env.test

Dockerfile.prod
docker-compose.override.yml

backups/*

.vscode
.idea

# Deployment

_PipelineMapping/
_actions/
_tool/

# Logs
_debug/*.log