<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="all,follow">
  <!-- Google fonts - Poppins -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <!-- Choices CSS-->
  <link rel="stylesheet" href="/vendor/choices.js/public/assets/styles/choices.min.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="/css/bootstrap/style.default.css" id="theme-stylesheet">

  <link rel="stylesheet" href="/css/style.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/img/favicon.ico">
  
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

  <script src="/js/loading_screen.js"></script>
</head>

<body>

  <div class="loading_screen">
    <div class="ring"></div>
  </div>

  <header class="header z-index-50">
    <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
      <!-- Search Box-->
      <div class="search-box shadow-sm">
        <button class="dismiss d-flex align-items-center">
          <svg class="svg-icon svg-icon-heavy">
            <use xlink:href="#close-1"> </use>
          </svg>
        </button>
        <form id="searchForm" action="#" role="search">
          <input class="form-control shadow-0" type="text" placeholder="What are you looking for...">
        </form>
      </div>
      <div class="container-fluid w-100">
        <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
          <!-- Navbar Header-->
          <div class="navbar-header">
            <!-- Navbar Brand --><a class="navbar-brand d-none d-sm-inline-block" href="/dashboard">
              <div class="brand-text d-none d-lg-inline-block"><span>Mittelbot </span><strong>Dashboard</strong></div>
              <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
            </a>
            <!-- Toggle Button--><a class="menu-btn active" id="toggle-btn"
              href="#"><span></span><span></span><span></span></a>
          </div>
          <!-- Navbar Menu -->
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
            <!-- Search-->
            <li class="nav-item d-flex align-items-center"><a id="search" href="#">
                <!-- <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                  <use xlink:href="#find-1"> </use>
                </svg></a></li> -->
                <!-- Notifications
            <li class="nav-item dropdown"> <a class="nav-link text-white" id="notifications" href="#"
                data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                  <use xlink:href="#chart-1"> </use>
                </svg><span class="badge bg-red badge-corner fw-normal">12</span></a>
              <ul class="dropdown-menu dropdown-menu-end mt-3 shadow-sm" aria-labelledby="notifications">
                <li><a class="dropdown-item py-3" href="#">
                    <div class="d-flex">
                      <div class="icon icon-sm bg-blue">
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#envelope-1"> </use>
                        </svg>
                      </div>
                      <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">You have 6 new
                          messages </span><small class="small text-gray-600">4 minutes ago</small></div>
                    </div>
                  </a></li>
                <li><a class="dropdown-item py-3" href="#">
                    <div class="d-flex">
                      <div class="icon icon-sm bg-green">
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#chats-1"> </use>
                        </svg>
                      </div>
                      <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">New 2 WhatsApp
                          messages</span><small class="small text-gray-600">4 minutes ago</small></div>
                    </div>
                  </a></li>
                <li><a class="dropdown-item py-3" href="#">
                    <div class="d-flex">
                      <div class="icon icon-sm bg-orange">
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#checked-window-1"> </use>
                        </svg>
                      </div>
                      <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">Server
                          Rebooted</span><small class="small text-gray-600">8 minutes ago</small></div>
                    </div>
                  </a></li>
                <li><a class="dropdown-item py-3" href="#">
                    <div class="d-flex">
                      <div class="icon icon-sm bg-green">
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#chats-1"> </use>
                        </svg>
                      </div>
                      <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">New 2 WhatsApp
                          messages</span><small class="small text-gray-600">10 minutes ago</small></div>
                    </div>
                  </a></li>
                <li><a class="dropdown-item all-notifications text-center" href="#"> <strong
                      class="text-xs text-gray-600">view all notifications </strong></a></li>
              </ul>
            </li>
          -->

                <!-- Languages dropdown    -->
                <!-- <li class="nav-item dropdown"><a class="nav-link text-white dropdown-toggle d-flex align-items-center"
                id="languages" href="#" data-bs-toggle="dropdown" aria-expanded="false"><img class="me-2"
                  src="/img/flags/16/GB.png" alt="English"><span class="d-none d-sm-inline-block">English</span></a>
              <ul class="dropdown-menu dropdown-menu-end mt-3 shadow-sm" aria-labelledby="languages">
                <li><a class="dropdown-item" rel="nofollow" href="#"> <img class="me-2" src="/img/flags/16/DE.png"
                      alt="English"><span class="text-xs text-gray-700">German</span></a></li>
                <li><a class="dropdown-item" rel="nofollow" href="#"> <img class="me-2" src="/img/flags/16/FR.png"
                      alt="English"><span class="text-xs text-gray-700">French </span></a></li>
              </ul>
            </li> -->

                <% if (user) { %>
                <!-- Logout    -->
            <li class="nav-item"><a class="nav-link text-white" href="/logout"> <span
                  class="d-none d-sm-inline">Logout</span>
                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                  <use xlink:href="#security-1"> </use>
                </svg></a></li>
            <% }else { %>

            <!-- Login    -->
            <li class="nav-item"><a class="nav-link text-white" href="/login"> <span
                  class="d-none d-sm-inline">Login</span>
                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                  <use xlink:href="#security-1"> </use>
                </svg></a></li>
            <% } %>

          </ul>
          <% if (user) { %>
          <li class="nav-item">
            <div class="brand-text d-none d-lg-inline-block"><span>
                <%= user.username %>#<%= user.discriminator %></span></div>
          </li>
          <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </header>