<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Welcome to Mittelbot Dashboard</h2>
    <p>Please login to continue</p>
    <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
  </div>
</div>

<%- include("partials/footer") %>